 /* logomuza en uyacak olan : navy and yellow (food)
    https://colorhunt.co/palette/004a2f002f35ff6337ffa323 
*/

 /* other options
    https://colorhunt.co/palette/fcf8e894b49fecb390df7861
    https://colorhunt.co/palette/f47c7cef9f9ffad4d4fff2f2
    https://colorhunt.co/palette/fd5d5dff8080fff7bcc0eda6
    https://colorhunt.co/palette/ffe3a9ffc3c3ff8c8cff5d5d
 */

/*  görseli yuvarlak yapmak için (Kaynak: https://furkangiray.com/gorseli-yuvarlak-yapma/)
    img.yuvarlak {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        object-fit: cover;
    } */

 .circle {
    border-radius:50%;
    height:75px;
    width:75px;
    object-fit:cover;
}

/* 
https://emreceyhan.net/blog/resmin-yanina-yazi-yazma-ekleme-css.html
*/

.class001 {
    width:900px;
    margin:auto;
}

.class001 img {
    float:left;
    /* padding:0 10px 10px 0; */ 
    /* Bunu ekleyince görselin yuvarlağı bozuluyor. Eklemeyince de yazı resme çok yakın duruyor. */
}

/* https://www.webcebir.com/21-html-yazi-ve-resim-ortalama-dersi.html */

.class002 {
    text-align:center;
}

/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_unordered_none */

.class003 {
    list-style-type: none;
}

li {
    display:inline-block;
}